.hero {
    background-attachment: fixed;
    position: relative;
    /* background: linear-gradient( 90deg, hsla(114, 100%, 90%, 0.835) 20%, hsla(114, 100%, 80%, 0.835) 75%); */
    background-color: hsla(60, 100%, 95%, 0.835);
    min-height: 50rem;
}

.heroText {
    font-size: 5rem;
    margin: 10vh 0 0 5vw;
    /* margin-left: 5%; */
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    width: 680px;
    top: 120px;
    z-index: 1;
    color: hsla(0, 0%, 18%, 0.835);
}


/* .card-item {
    width: 20rem;
    padding: 10px;
} */

@media (max-width: 800px) {
    .card-item {
        width: 30rem;
    }
    .heroImg {
        margin-bottom: -100px;
    }
    .heroText {
        font-size: 4rem;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

.h2 {
    margin-left: 8vw;
    text-decoration: underline;
    font-size: 2.5rem;
}