.hero {
    background-attachment: fixed;
    position: relative;
    /* background: linear-gradient( 270deg, #6cff5cd5 20%, #0f9900d5 75%); */
    background-color: #ffffe5d5;
    min-height: 50rem;
}

.heroText {
    font-size: 5rem;
    margin-left: 5%;
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    width: 680px;
    top: 120px;
    z-index: 1;
    color: #2d2d2dd5;
}

.heroImg {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0));
}

div .row {
    align-items: center;
    gap: 10vh;
    justify-content: center;
    margin: 6vw;
}

.card-item {
    width: 20rem;
    z-index: 99999;
    padding: 10px;
}

@media (max-width: 800px) {
    .card-item {
        width: 30rem;
    }
    .heroImg {
        margin-bottom: -100px;
    }
    .heroText {
        font-size: 4rem;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

.h2 {
    margin-left: 8vw;
    text-decoration: underline;
    font-size: 2.5rem;
}